.footer_container {
  display: flex;
  justify-content: space-between;
  width: $content-width;
  margin: auto;
}

.footer_container__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 30px;
  font-size: $font-size-s;
  overflow: hidden;
}
