.header_container {
  display: flex;
  justify-content: space-between;
  width: $list-width;
  margin: auto;
}

.header_container__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: $font-size-xl;
  overflow: hidden;
}

@media (max-width: $screen-laptop) {
  .header_container {
    padding: 0 20px;
  }
}

@media (max-width: $screen-tablet) and (orientation: portrait) {
  .header_container__title {
    font-size: $font-size-m
  }
}