.showDetails_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-right: 0;
}

.showDetails_content__name {
  padding: 50px;
  width: 100%;
  font-size: $font-size-xl;
  background-color: $primary-light;
  margin: 0 0 30px
}

.showDetails_content__summary {
  font-size: $font-size-s;
  max-width: 500px;
  padding: 0;
  text-align: justify;
  margin: auto;
  p {
    margin: auto;
  }
}

.showDetails_content__img {
  padding: 0;
  margin: auto;
}

@media (max-width: $screen-laptop) {
  .showDetails_content {
    margin: initial;
  }

  .showDetails_content__summary,
  .showDetails_content__img { 
    padding: 20px 0;
  }
}

@media (max-width: $screen-tablet) {
  .showDetails_content__summary {
    font-size: $font-size-xs;
  }

}

@media (max-width: $screen-mobile) {
  
}