.show_container {
  color: $primary-dark;
  font-size: $font-size-l;
  background-color: $primary-white;
}

.show_container__list {
  font-size: $font-size-xs;
  
  li {
    text-align: left;
    padding-left: 60px;
  }
}
