.show_container {
  color: $primary-dark;
  font-size: $font-size-l;
  background-color: $primary-white;
}

.show_container__list {
  font-size: $font-size-xs;
  margin: auto;
  padding: 50px 0 0;
}

@media (max-width: $screen-laptop) {
  .show_container {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: $screen-tablet) {
  .show_container__list {
    font-size: $font-size-xxs; 
  }
}
