// colors
$primary-green: #3C948B;
$primary-black: #0A0A0A;
$primary-white: #FFF;
$primary-light: #E6E6E6;
$primary-dark: #3F3F3F;

// sizes
$content-width: 960px;
$list-width: 780px;
$font-size-xxl: 60px;
$font-size-xl: 40px;
$font-size-l: 30px;
$font-size-m: 25px;
$font-size-s: 20px;
$font-size-xs: 16px;

// fonts
$primary-font: 'Open Sans', sans-serif;